openapi: 3.1.0

info:
  title: "FastNEAR API"
  description: "API endpoints for the NEAR Protocol blockchain"
  version: "1.0.0"

servers:
  - url: "https://api.mainnet.fastnear.com"
    description: "NEAR Mainnet API"
  - url: "https://api.testnet.fastnear.com"
    description: "NEAR Testnet API"

# Define the proper tag structure
tags:
  - name: keys
    description: "Operations for looking up NEAR accounts by public keys"
  - name: account
    description: "Operations for retrieving account information"
  - name: token
    description: "Operations for fungible tokens and NFTs"

# Group tags by version for better organization
x-tagGroups:
  - name: "Public Key Operations"
    tags:
      - keys
  - name: "Account Operations"
    tags:
      - account
  - name: "Token Operations"
    tags:
      - token

paths:
  /public_key/{public_key}:
    get:
      operationId: lookup_by_public_key
      summary: "Lookup accounts by public key"
      description: "Returns NEAR accounts associated with the provided public key"
      tags:
        - keys
      parameters:
        - name: public_key
          in: path
          required: true
          schema:
            type: string
          description: "NEAR Protocol public key (ED25519 or secp256k1). Must be a valid base58-encoded public key string."
          example: "ed25519:2onv9qxBqs5NYqTuLmotXcQbQGPVXZp537JYd3KFpYxV"
      responses:
        "200":
          description: "Successful response"
          content:
            application/json:
              schema:
                type: object
                properties:
                  public_key:
                    type: string
                    description: "The public key that was queried"
                  account_ids:
                    type: array
                    items:
                      type: string
                    description: "List of NEAR account IDs associated with this public key"
              example:
                public_key: "ed25519:2onv9qxBqs5NYqTuLmotXcQbQGPVXZp537JYd3KFpYxV"
                account_ids: ["example.near"]
        "400":
          description: "Invalid request parameters"
        "500":
          description: "Internal server or database error"
