:root {
  --font-size-base: 16px;
  
  --primary-1: #ffafcc;
  --primary-2: #ff5d8f;
  --secondary-1: #caffbf;
  --secondary-2: #9bf6ff;

  --background-gradient-start: hsl(265, 98%, 22%);
  --background-gradient-end: #4a148c;
  --text-color: #e0aaff;
  --link-color: #ffafcc;
  --hover-color: #ff5d8f;

  --menu-item-separator-line-height: 1px;
  --menu-item-separator-line-bg-color: #ff69b4;



  --sidebar-bg-color: #10011e;

  --menu-item-text-color: #e0aaff;
  --menu-item-hover-bg-color: #4a148c;

  --toc-item-text-color-active: #ffafcc;
  --breadcrumbs-text-color-active: #caffbf;
  --button-text-color: #ffffff;
  --button-border-color: #ffffff; 

  /* Seems like this needs to be here */
  --panel-body-font-size: 19px;
  
  --code-font-size: 16px;
  --panel-samples-width: 66%;
  --panel-samples-border: 1px solid #efefef;

  --code-word-break: break-all;
  --font-family-base: 'DM Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif;
  --navbar-height: 36px;
  --bg-color: rgba(255, 165, 0, 0.06);
  
  --navbar-bg-color: linear-gradient(to right, black 12%, #330066 37%);
  --navbar-font-size: 13px;

  --panel-border-radius: 6px;
  --panel-font-size: 16px;
  --panel-samples-font-size: 16px;
  --panel-samples-bg-color: rgba(137, 51, 37, 0.1);  
}

body {
    background: linear-gradient(to bottom, var(--background-gradient-start), var(--background-gradient-end));
}

.menu-item-type-separator {
  padding: 6px;
}