openapi: 3.1.0
info:
  title: FastNEAR RPC
  description: |-
    NEAR Protocol JSON RPC

    For exhaustive list of endpoints, refer to the [NEAR documentation](https://docs.near.org/api/rpc/transactions).
  version: "1.0.0"
servers:
  - url: "https://rpc.mainnet.fastnear.com"
    description: "Mainnet"
  - url: "https://rpc.testnet.fastnear.com"
    description: "Testnet"
  - url: "https://archival-rpc.mainnet.fastnear.com"
    description: "Mainnet Archival"
  - url: "https://archival-rpc.testnet.fastnear.com"
    description: "Testnet Archival"

paths:
  # Account operations
  /view_account:
    $ref: './account/view_account.yaml#/paths/~1'
  /view_access_key:
    $ref: './account/view_access_key.yaml#/paths/~1'
  /view_access_key_list:
    $ref: './account/view_access_key_list.yaml#/paths/~1'

  # Block operations
  /block_by_height:
    $ref: './block/block_by_height.yaml#/paths/~1'
  /block_by_id:
    $ref: './block/block_by_id.yaml#/paths/~1'
  /block_effects:
    $ref: './block/block_effects.yaml#/paths/~1'

  # Contract operations
  /call_function:
    $ref: './contract/call.yaml#/paths/~1'
  /view_state:
    $ref: './contract/view_state.yaml#/paths/~1'
  /view_code:
    $ref: './contract/view_code.yaml#/paths/~1'
  /view_global_contract_code:
    $ref: './contract/view_global_contract_code.yaml#/paths/~1'
  /view_global_contract_code_by_account_id:
    $ref: './contract/view_global_contract_code_by_account_id.yaml#/paths/~1'

  # Protocol operations
  /chunk_by_hash:
    $ref: './protocol/chunk_by_hash.yaml#/paths/~1'
  /chunk_by_block_shard:
    $ref: './protocol/chunk_by_block_shard.yaml#/paths/~1'
  /gas_price:
    $ref: './protocol/gas_price.yaml#/paths/~1'
  /gas_price_by_block:
    $ref: './protocol/gas_price_by_block.yaml#/paths/~1'
  /health:
    $ref: './protocol/health.yaml#/paths/~1'
  /latest_block:
    $ref: './protocol/latest_block.yaml#/paths/~1'
  /light_client_proof:
    $ref: './protocol/light_client_proof.yaml#/paths/~1'
  /metrics:
    $ref: './protocol/metrics.yaml#/paths/~1metrics'
  /network_info:
    $ref: './protocol/network_info.yaml#/paths/~1'
  /status:
    $ref: './protocol/status.yaml#/paths/~1'
  /genesis_config:
    $ref: './protocol/genesis_config.yaml#/paths/~1'
  /client_config:
    $ref: './protocol/client_config.yaml#/paths/~1'
  /changes:
    $ref: './protocol/changes.yaml#/paths/~1'
  /maintenance_windows:
    $ref: './protocol/maintenance_windows.yaml#/paths/~1'
  /next_light_client_block:
    $ref: './protocol/next_light_client_block.yaml#/paths/~1'
  /EXPERIMENTAL_protocol_config:
    $ref: './protocol/EXPERIMENTAL_protocol_config.yaml#/paths/~1'
  /EXPERIMENTAL_congestion_level:
    $ref: './protocol/EXPERIMENTAL_congestion_level.yaml#/paths/~1'
  /EXPERIMENTAL_light_client_block_proof:
    $ref: './protocol/EXPERIMENTAL_light_client_block_proof.yaml#/paths/~1'
  /EXPERIMENTAL_split_storage_info:
    $ref: './protocol/EXPERIMENTAL_split_storage_info.yaml#/paths/~1'
  /EXPERIMENTAL_light_client_proof:
    $ref: './protocol/EXPERIMENTAL_light_client_proof.yaml#/paths/~1'

  # Transaction operations
  /broadcast_tx_async:
    $ref: './transaction/broadcast_tx_async.yaml#/paths/~1'
  /broadcast_tx_commit:
    $ref: './transaction/broadcast_tx_commit.yaml#/paths/~1'
  /tx_status:
    $ref: './transaction/tx_status.yaml#/paths/~1'
  /send_tx:
    $ref: './transaction/send_tx.yaml#/paths/~1'
  /EXPERIMENTAL_tx_status:
    $ref: './transaction/EXPERIMENTAL_tx_status.yaml#/paths/~1'
  /EXPERIMENTAL_receipt:
    $ref: './transaction/EXPERIMENTAL_receipt.yaml#/paths/~1'
  /EXPERIMENTAL_receipt_to_tx:
    $ref: './transaction/EXPERIMENTAL_receipt_to_tx.yaml#/paths/~1'

  # Validator operations
  /validators_current:
    $ref: './validators/validators_current.yaml#/paths/~1'
  /validators_by_epoch:
    $ref: './validators/validators_by_epoch.yaml#/paths/~1'
  /EXPERIMENTAL_validators_ordered:
    $ref: './validators/EXPERIMENTAL_validators_ordered.yaml#/paths/~1'

