openapi: 3.1.0
info:
  title: FastNEAR RPC
  description: |-
    NEAR Protocol JSON RPC

    For exhaustive list of endpoints, refer to the [NEAR documentation](https://docs.near.org/api/rpc/transactions).
servers:
  - url: "https://rpc.mainnet.fastnear.com/"
  - url: "https://rpc.testnet.fastnear.com/"
  - url: "https://archival-rpc.mainnet.fastnear.com/"
  - url: "https://archival-rpc.testnet.fastnear.com/"

paths:
  view_account:
    post:
      summary: view account
      description: Request details on a NEAR account.
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              example:
                jsonrpc: "2.0"
                "result":
                  "amount": "166616133734086239835140361"
                  "block_hash": "qBa4QiqGQQoodxqdn7gY9uJApfVFBAAzQ27ZEcLHz6b"
                  "block_height": 132283656
                  "code_hash": "11111111111111111111111111111111"
                  "locked": "0"
                  "storage_paid_at": 0
                  "storage_usage": 17703
                "id": "fastnear"
      x-codeSamples:
        - lang: curl
          label: "cURL"
          source: |
            curl -s -X POST "https://rpc.mainnet.fastnear.com" \
              -H "Content-Type: application/json" \
              -d '{
                "jsonrpc": "2.0",
                "id": "fastnear",
                "method": "query",
                "params": {
                  "request_type": "view_account",
                  "finality": "final",
                  "account_id": "mike.near"
                }
              }'

