openapi: 3.1.0
info:
  title: FastNEAR RPC
  description: |-
    NEAR Protocol JSON RPC

    You may also reference the [NEAR documentation](https://docs.near.org/api/rpc/transactions) on this subject.
servers:
  - url: "https://rpc.mainnet.fastnear.com"
  - url: "https://rpc.testnet.fastnear.com"
  - url: "https://archival-rpc.mainnet.fastnear.com"
  - url: "https://archival-rpc.testnet.fastnear.com"

paths:
  send_tx:
    post:
      summary: send transaction
      description: Broadcast a NEAR transaction to a FastNEAR RPC.
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
      x-examples:
        curl: |
          curl -X GET "https://redocly.com/_mock/docs/openapi/museum-api/museum-hours"
  /special-events:
    get:
      summary: List special events
      description: Retrieve upcoming special events.
      responses:
        "200":
          description: Successful response
          content:
            application/json: {}
      x-examples:
        curl: |
          curl -X GET "https://redocly.com/_mock/docs/openapi/museum-api/special-events"

  /tickets:
    post:
      summary: Buy museum tickets
      description: Purchase tickets.
      requestBody:
        required: true
        content:
          application/json: {}
      responses:
        "201":
          description: Ticket purchased
          content:
            application/json: {}
      x-examples:
        curl: |
          curl -X POST "https://redocly.com/_mock/docs/openapi/museum-api/tickets" \
          -H "Content-Type: application/json" \
          -d '{"ticketType": "general", "ticketDate": "2023-09-07", "email": "example@example.com"}'
